.item_3 {
  width: 100% !important;
}

.first_shelf .content h2,
.second_shelf .content h2 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.4px;
}

.first_shelf .item_1 .content h2 {
  color: #513CE1;
  margin: 15px 0 15px 0;
}

.first_shelf .item_2 .content h2 {
  color: var(--neutral-w, #FFF);
  margin: 15px 0 15px 0;
  width: 65%;
}

.first_shelf,
.second_shelf {
  display: flex;
  margin: 12px 0 12px;
  word-break: keep-all;
}

.first_shelf a,
.second_shelf a {
  text-decoration: none !important;
  cursor: pointer;
  border: 1px solid transparent;
  transition: border 0.35s ease;
}

.first_shelf a:hover,
.second_shelf a:hover {
  border: 1px solid #513CE1;
}

.first_shelf .item_2:hover {
  border: 1px solid black;
}

.first_shelf p,
.second_shelf p {
  max-width: 400px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.first_shelf .item_1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: var(--grey-1, #F6F7FA);
  margin-right: 6px;
  width: 35%;
  /* max-width: 35%; */
}

.first_shelf .item_2 {
  display: flex;
  width: 65%;
  flex-direction: column;
  align-items: flex-start;
  background: var(--primary-1, #513CE1);
  color: #FCFCFF !important;
  margin-left: 6px;
}

.second_shelf .item_3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: var(--secondary-1, #E9E8FF);
  margin-right: 6px;
  width: 60%;
}

.second_shelf .item_4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: var(--grey-1, #F6F7FA);
  margin-left: 6px;
  width: 40%;
}

.first_shelf .item_1 .content,
.first_shelf .item_2 .content,
.second_shelf .item_3 .content,
.second_shelf .item_4 .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
  width: 100%;
}

.first_shelf .content h2,
.second_shelf .content h2 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.4px;
}

.first_shelf .item_1 .content h2 {
  color: #513CE1;
  margin: 15px 0 30px 0;
}

.first_shelf .item_2 .content h2 {
  color: var(--neutral-w, #FFF);
  margin: 15px 0 30px 0;
  width: 65%;
}

.first_shelf .item_2 .content p {
  color: var(--neutral-w, #FFF);
  width: 65%;
}

.second_shelf .content h2 {
  color: #513CE1;
  margin: 15px 0 30px 0;
}

.first_shelf .content .svg_container,
.second_shelf .content .svg_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.content .svg_container svg {
  margin-top: 15px;
}

.content .svg_container .arrow {
  flex-shrink: 0;
}

@media only screen and (max-width: 1255px) {

  .first_shelf,
  .second_shelf {
    flex-direction: column;
  }

  .first_shelf a,
  .second_shelf a {
    width: 328px !important;
    height: 323px !important;
    margin: 10px !important;
  }
}