openapi: 3.0.0
info:
  title: Payment API - TestE
  version: '1.0'
servers:
  - url: https://api-sandbox.y.uno/v1/payments
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: public-api-key
      x-default: <Your public-api-key>
    sec1:
      type: apiKey
      in: header
      name: private-secret-key
      x-default: <Your private-secret-key>
    sec2:
      type: apiKey
      in: header
      name: X-Idempotency-Key
      x-default: <Your X-Idempotency-Key>
security:
  - sec0: []
    sec1: []
    sec2: []
paths:
  /create-payment:
    post:
      summary: Create Payment
      description: ''
      operationId: create-payment
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - account_id
                - description
                - country
                - merchant_order_id
                - amount
                - customer_payer
                - checkout
                - payment_method
              properties:
                account_id:
                  type: string
                  description: The unique identifier of the account (MAX 64 ; MIN 36).
                description:
                  type: string
                  description: The description of the payment (MAX 255; MIN 3).
                additional_data:
                  type: object
                  description: Specifies the additional_data object. This object is not mandatory. However, if you send this information, the payment experience will be enhanced for your user.
                  properties:
                    order:
                      type: object
                      description: Specifies the order object.
                      required:
                        - shipping_amount
                      properties:
                        shipping_amount:
                          type: number
                          description: The shipping amount of the order (multiple of 0.0001)
                          format: float
                        fee_amount:
                          type: number
                          description: The fee amount of the order (multiple of 0.0001)
                          format: float
                        items:
                          type: array
                          description: Specifies the items array of object.
                          items:
                            properties:
                              id:
                                type: string
                                description: The unique identifier of the item (MAX 255; MIN 3).
                              name:
                                type: string
                                description: The name of the item (MAX 255; MIN 3).
                              quantity:
                                type: integer
                                description: The quantity of the item.
                                format: int32
                              unit_amount:
                                type: number
                                description: The unit amount of the item (multiple of 0.0001).
                                format: float
                              category:
                                type: string
                                description: The category of the item ([item category list](https://docs.y.uno/reference/the-payment-object#item-category)).
                                enum:
                                  - art
                                  - baby
                                  - coupons
                                  - beauty_&_personal_care
                                  - donations
                                  - computing
                                  - books
                                  - grocery_&_gourmet_food
                                  - cameras
                                  - video_games
                                  - television
                                  - car_electronics
                                  - electronics
                                  - automotive
                                  - toys_&_games
                                  - musical_instruments
                                  - handmade
                                  - garden_&_outdoor
                                  - entertainment
                                  - industrial_&_scientific
                                  - fashion
                                  - games
                                  - pet_supplies
                                  - home
                                  - musical
                                  - phones
                                  - services
                                  - learnings
                                  - tickets
                                  - travels
                                  - virtual_goods
                                  - others
                                  - ''
                              brand:
                                type: string
                                description: The brand of the item (MAX 255; MIN 3).
                              sku_code:
                                type: string
                                description: The stock keeping unit (SKU) of the item (MAX 255; MIN 3).
                              manufacture_part_number:
                                type: string
                                description: The manufacture part number of the item (MAX 255; MIN 3).
                            required:
                              - id
                              - name
                              - quantity
                              - unit_amount
                              - category
                            type: object
                    airline:
                      type: object
                      description: Specifies the airline object.
                      properties:
                        pnr:
                          type: string
                          description: Passenger name record (MAX 10; MIN 1).
                        legs:
                          type: array
                          description: Specifies the legs object.
                          items:
                            properties:
                              departure_airport:
                                type: string
                                description: IATA code. See http://www.iata.org (MAX 3; MIN 3).
                              departure_datetime:
                                type: string
                                description: The departure date and time in UTC time ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601), MAX 27; MIN 27).
                                format: date-time
                              departure_airport_timezone:
                                type: string
                                description: Airport timezone (MAX 6; MIN 6).
                              arrival_airport:
                                type: string
                                description: IATA airport code. See http://www.iata.org (MAX 3; MIN 3).
                              carrier_code:
                                type: string
                                description: IATA carrier code. See http://www.iata.org (MAX 2; MIN 2).
                              flight_number:
                                type: string
                                description: The flight number assigned by the airline carrier (MAX 5; MIN 1).
                              fare_basis_code:
                                type: string
                                description: Code base rate provides specific information on the fare in addition to the class service, both required for booking (MAX 15; MIN 1).
                              fare_class_code:
                                type: string
                                description: 'Examples: F (=FIRST CLASS UNRESTRICTED), FR (=FIRST CLASS RESTRICTED), B (=EXCECUTIVE CLASS UNRESTRICTED), CR (=EXCECUTIVE CLASS RESTRICTED), Y (=ECONOMY CLASS UNRESTRICTED), YD (=ECONOMY CLASS RESTRICTED). (MAX 3; MIN 1)'
                                enum:
                                  - F
                                  - FR
                                  - B
                                  - CR
                                  - 'Y'
                                  - YD
                                  - ''
                              base_fare:
                                type: number
                                description: The transaction amount, excluding taxes and fees, the smallest unit of currency (multipleOf 0.0001).
                                format: float
                              base_fare_currency:
                                type: string
                                description: The currency used to transaction amount (MAX 3; MIN 3).
                              stopover_code:
                                type: string
                                description: '1-letter code that indicates whether the passenger is allowed to make a stopover. Only two types of characters are allowed: O: Stopover allowed (the letter “O”, not zero) / X: Stopover not allowed. (MAX 1; MIN 1).'
                            required:
                              - departure_airport
                              - departure_datetime
                              - departure_airport_timezone
                              - arrival_airport
                              - carrier_code
                              - flight_number
                            type: object
                        passengers:
                          type: array
                          description: Specifies the passengers array of objects associated to the tickets.
                          items:
                            properties:
                              first_name:
                                type: string
                                description: The passenger first name (MAX 255; MIN 3).
                              last_name:
                                type: string
                                description: The passenger last name (MAX 255; MIN 3).
                              middle_name:
                                type: string
                                description: The passenger middle name (MAX 255; MIN 3).
                              type:
                                type: string
                                description: Passenger type (A=Adult, C=Child, I=Infant or Baby; MAX 1; MIN 1).
                                enum:
                                  - A
                                  - C
                                  - I
                                  - ''
                              date_of_birth:
                                type: string
                                description: The passenger date of birth in the YYYY-MM-DD (MAX 10; MIN 10).
                                format: date
                              nationality:
                                type: string
                                description: The passenger nationality (MAX 2; MIN 2; [ISO 3166-1](https://docs.y.uno/reference/customer-object#country-code-list-iso-3166-1)).
                                enum:
                                  - AR
                                  - BO
                                  - BR
                                  - CL
                                  - CO
                                  - CR
                                  - EC
                                  - SV
                                  - GT
                                  - HN
                                  - MX
                                  - NI
                                  - PA
                                  - PY
                                  - PE
                                  - US
                                  - UY
                                  - ''
                              document:
                                type: object
                                description: Specifies the document object of the passenger.
                                properties:
                                  document_number:
                                    type: string
                                    description: Document number for passenger (MAX 40; MIN 3).
                                  document_type:
                                    type: string
                                    description: The passenger's document type (MAX 6, MIN 2; [Document Type List](https://docs.y.uno/reference/customer-object#document-type-list)).
                                    enum:
                                      - DNI
                                      - CI
                                      - LC
                                      - LE
                                      - CUIT
                                      - CUIL
                                      - PAS
                                      - CPF
                                      - RG
                                      - CNH
                                      - CNPJ
                                      - RUT
                                      - RUN
                                      - CC
                                      - CE
                                      - NIT
                                      - DUI
                                      - PIC
                                      - DPI
                                      - IFR
                                      - INE
                                      - CP
                                      - RFC
                                      - CURP
                                      - CIP
                                      - CIC
                                      - CUI
                                      - RUC
                                      - ''
                                  country:
                                    type: string
                                    description: Country where the document was issued (MAX 2; MIN 2; [ISO 3166-1](https://docs.y.uno/reference/customer-object#country-code-list-iso-3166-1)).
                                    enum:
                                      - AR
                                      - BO
                                      - BR
                                      - CL
                                      - CO
                                      - CR
                                      - EC
                                      - SV
                                      - GT
                                      - HN
                                      - MX
                                      - NI
                                      - PA
                                      - PY
                                      - PE
                                      - US
                                      - UY
                                      - ''
                              loyalty_number:
                                type: string
                                description: Number of passenger loyalty program.
                              loyalty_tier:
                                type: string
                                description: Tier of passenger loyalty program.
                            type: object
                        tickets:
                          type: array
                          description: Specifieis the array of tickets associated to the passengers.
                          items:
                            properties:
                              ticket_number:
                                type: string
                                description: Ticket number (MAX 14; MIN 1).
                              e_ticket:
                                type: boolean
                                description: Is this an e-ticket?
                              restricted:
                                type: boolean
                                description: Indicates if the ticket is refunfable or not.
                              total_fare_amount:
                                type: number
                                description: Total fare amount in the smallest unit of currency (multiple of 0.0001).
                                format: float
                              total_tax_amount:
                                type: number
                                description: Total taxes amount in the smallest unit of currency (multiple of 0.0001).
                                format: float
                              total_fee_amount:
                                type: number
                                description: Total fee amount in the smallest unit of currency (multiple of 0.0001).
                                format: float
                              issue:
                                type: object
                                description: Specifies the issue object.
                                properties:
                                  carrier_prefix_code:
                                    type: string
                                    description: Issuing or Validating carrier. This is the AWB Prefix (Air waybill) IATA 3-numeric code (MAX 3; MIN 3).
                                  travel_agent_code:
                                    type: string
                                    description: Code of the travel agent issuing the ticket.
                                  travel_agent_name:
                                    type: string
                                    description: The name under which the point of sale appears on the agency list or franchise name (MAX 32; MIN 1).
                                  date:
                                    type: string
                                    description: Ticket issuing date (MAX 27; MIN 27).
                                    format: date-time
                                  address:
                                    type: string
                                    description: Address of the agent whose sold the ticket (MAX 255; MIN 3).
                                  city:
                                    type: string
                                    description: City name of the agent whose sold the ticket (MAX 255; MIN 3).
                                  country:
                                    type: string
                                    description: Country code alpha 2 where the ticket was issued (MAX 2; MIN 2; [ISO 3166-1](https://docs.y.uno/reference/customer-object#country-code-list-iso-3166-1)).
                                    enum:
                                      - AR
                                      - BO
                                      - BR
                                      - CL
                                      - CO
                                      - CR
                                      - EC
                                      - SV
                                      - GT
                                      - HN
                                      - MX
                                      - NI
                                      - PA
                                      - PY
                                      - PE
                                      - US
                                      - UY
                                      - ''
                                  zip_code:
                                    type: string
                                    description: Zip code of the agent who sold the ticket.
                            type: object
                    seller_details:
                      type: object
                      description: Specifies the seller's details object.
                      properties:
                        name:
                          type: string
                          description: The seller's legal name (MAX 255; MIN 3).
                        email:
                          type: number
                          description: The seller's e-mail (MAX 255; MIN 3).
                          format: float
                        reference:
                          type: number
                          description: The seller's identification code (MAX 255; MIN 3).
                          format: float
                        website:
                          type: string
                          description: The seller's website URL (MAX 255; MIN 3).
                        industry:
                          type: string
                          description: The seller's industry (MAX 255; MIN 3).
                          enum:
                            - ADVERTISING
                            - ART
                            - AUTOMOTIVE
                            - ANTIVIRUS
                            - BABY
                            - BEAUTY_&_PERSONAL_CARE
                            - BOOKS
                            - CAMERAS
                            - CAR_ELECTRONICS
                            - COMPUTING
                            - COUPONS
                            - DONATIONS
                            - DELIVERY
                            - ELECTRONICS
                            - ENTERTAINMENT
                            - EDUCATION
                            - FASHION
                            - GAMES
                            - GARDEN_&_OUTDOOR
                            - GROCERY_&_GOURMET_FOOD
                            - HANDMADE
                            - HOME
                            - INDUSTRIAL_&_SCIENTIFIC
                            - INVESTING_AND_FINANCIAL
                            - LEARNINGS
                            - MUSICAL
                            - OTHERS
                            - PET_SUPPLIES
                            - PHONES
                            - PAYROLL
                            - SERVICES
                            - SAAS
                            - TELEVISION
                            - STREAMING
                            - TICKETS
                            - TOYS_&_GAMES
                            - TRAVELS
                            - VIDEO_GAMES
                            - VIRTUAL_GOODS
                            - ''
                        country:
                          type: string
                          description: The seller's country (MAX 255; MIN 3).
                          enum:
                            - AR
                            - BO
                            - BR
                            - CL
                            - CO
                            - CR
                            - EC
                            - SV
                            - GT
                            - HN
                            - MX
                            - NI
                            - PA
                            - PY
                            - PE
                            - US
                            - UY
                            - ''
                        document:
                          type: object
                          description: Specifies the document object of the seller.
                          properties:
                            document_number:
                              type: string
                              description: The seller's document number (MAX 40; MIN 3).
                            document_type:
                              type: string
                              description: The seller's document type (MAX 6, MIN 2; [Document Type List](https://docs.y.uno/reference/customer-object#document-type-list)).
                              enum:
                                - DNI
                                - CI
                                - LC
                                - LE
                                - CUIT
                                - CUIL
                                - PAS
                                - CPF
                                - RG
                                - CNH
                                - CNPJ
                                - RUT
                                - RUN
                                - CC
                                - CE
                                - NIT
                                - DUI
                                - PIC
                                - DPI
                                - IFR
                                - INE
                                - CP
                                - RFC
                                - CURP
                                - CIP
                                - CIC
                                - CUI
                                - RUC
                                - ''
                        phone:
                          type: object
                          description: Specifies the seller's phone number object.
                          properties:
                            country_code:
                              type: string
                              description: The country code of the seller's phone (MAX 3; MIN 2).
                            number:
                              type: string
                              description: The seller's phone number, without the country code (MAX 32; MIN 1).
                        address:
                          type: object
                          description: Specifies the seller's address object.
                          properties:
                            address_line_1:
                              type: string
                              description: The primary address line of the seller (MAX 255; MIN 3).
                            address_line_2:
                              type: string
                              description: The secondary billing address line of the seller (MAX 255; MIN 3).
                            city:
                              type: string
                              description: The city considered for the seller's address (MAX 255; MIN 3).
                            country:
                              type: string
                              description: The country considered for the seller's address (MAX 2; MIN 2; [ISO 3166-1](https://docs.y.uno/reference/customer-object#country-code-list-iso-3166-1)).
                              enum:
                                - AR
                                - BO
                                - BR
                                - CL
                                - CO
                                - CR
                                - EC
                                - SV
                                - GT
                                - HN
                                - MX
                                - NI
                                - PA
                                - PY
                                - PE
                                - US
                                - UY
                                - ''
                            state:
                              type: string
                              description: The state considered for the seller's address (MAX 255; MIN 3).
                            zip_code:
                              type: string
                              description: The zipcode considered for the seller's address (MAX 11; MIN 4).
                country:
                  type: string
                  description: The customer's country (MAX 2; MIN 2; [ISO 3166-1](https://docs.y.uno/reference/the-customer-object#country-code-list-iso-3166-1)).
                  enum:
                    - AR
                    - BO
                    - BR
                    - CL
                    - CO
                    - CR
                    - EC
                    - SV
                    - GT
                    - HN
                    - MX
                    - NI
                    - PA
                    - PY
                    - PE
                    - US
                    - UY
                    - ''
                merchant_order_id:
                  type: string
                  description: The unique identifier of the customer's order (MAX 255; MIN 3).
                merchant_reference:
                  type: string
                  description: Identification of the payment transaction defined by the merchant (MAX 255; MIN 3). Optional to complement the merchant_order_id.
                amount:
                  type: object
                  description: Specifies the payment amount object, with the value and currency.
                  required:
                    - currency
                    - value
                  properties:
                    currency:
                      type: string
                      description: The currency used to make the payment (MAX 3; MIN 3; [ISO 4217](https://docs.y.uno/reference/the-session-object#currency-code-list-iso-4217)).
                      enum:
                        - ARS
                        - BOV
                        - BOB
                        - BRL
                        - CLP
                        - COP
                        - CRC
                        - USD
                        - SVC
                        - GTQ
                        - HNL
                        - MXN
                        - NIO
                        - PAB
                        - PYG
                        - PEN
                        - UYU
                        - ''
                    value:
                      type: string
                      description: The payment amount (multiple of 0.0001).
                customer_payer:
                  type: object
                  description: Specifies customer object for payments.
                  required:
                    - id
                    - first_name
                    - last_name
                    - email
                  properties:
                    id:
                      type: string
                      description: The unique identifier of the customer (MAX 64 ; MIN 36). This object is not mandatory for back to back payments. Required when `workflow` is defined as `CHECKOUT` or is not sent.
                    merchant_customer_id:
                      type: string
                      description: The unique identifier of the customer in the external merchant (MAX 255; MIN 3).
                    first_name:
                      type: string
                      description: The customer's first name (MAX 255; MIN 3).
                    last_name:
                      type: string
                      description: The customer's last name (MAX 255; MIN 3).
                    gender:
                      type: string
                      description: The customer's gender (MAX 1; MIN 1; (M=Male/F=Female/NA=Not applicable/NK=Not Known)).
                      enum:
                        - M
                        - F
                        - NA
                        - NK
                        - ''
                    date_of_birth:
                      type: string
                      description: 'The customer''s date of birth in the YYYY-MM-DD format (Length: 10).'
                      format: date
                    email:
                      type: string
                      description: The customer's e-mail (MAX 255; MIN 3).
                    nationality:
                      type: string
                      description: The customer's nationality (MAX 2; MIN 2; [ISO 3166-1](https://docs.y.uno/reference/customer-object#country-code-list-iso-3166-1)).
                      enum:
                        - AR
                        - BO
                        - BR
                        - CL
                        - CO
                        - CR
                        - EC
                        - SV
                        - GT
                        - HN
                        - MX
                        - NI
                        - PA
                        - PY
                        - PE
                        - US
                        - UY
                        - ''
                    ip_address:
                      type: string
                      description: The customer's IP address (MAX 45; MIN 7).
                    device_fingerprint:
                      type: string
                      description: The customer's device fingerprint (MAX 4000; MIN 1). For integrations using Yuno checkout the value is obtained automatically, do not send this field.
                    browser_info:
                      type: object
                      description: Specifies the browser_info object.
                      required:
                        - user_agent
                        - accept_header
                        - accept_browser
                        - accept_content
                        - color_depth
                        - screen_height
                        - screen_width
                        - javascript_enabled
                        - language
                        - browser_time_difference
                      properties:
                        user_agent:
                          type: string
                          description: The user agent value of the customer's browser (MAX 255; MIN 3).
                        accept_header:
                          type: string
                          description: The accept header value of the customer's browser.
                        accept_browser:
                          type: boolean
                          description: The accept browser value of the customer's browser  - [Required for 3DS in DIRECT workflow]
                        accept_content:
                          type: boolean
                          description: The accept content value of the customer's browser  - [Required for 3DS in DIRECT workflow]
                        color_depth:
                          type: string
                          description: 'The color depth of the customer''s browser in bits per pixel. This should be obtained by using the browser''s screen.colorDepth property. Accepted values: 1, 4, 8, 15, 16, 24, 30, 32 or 48 bit color depth. (MAX 5; MIN 1).'
                        screen_height:
                          type: string
                          description: The total height of the customer's device screen in pixels. (MAX 255; MIN 3).
                        screen_width:
                          type: string
                          description: The total width of the customer's device screen in pixels. (MAX 255; MIN 3).
                        javascript_enabled:
                          type: boolean
                          description: Indicates if Javascript is enabled or not in the device.
                        java_enabled:
                          type: boolean
                          description: Indicates if Java is enabled or not in the device  - [Required for 3DS in DIRECT workflow]
                        language:
                          type: string
                          description: The navigator.language value of the customer's browser (as defined in IETF BCP 47) (MAX 5; MIN 1).
                        browser_time_difference:
                          type: string
                          description: Indicates the customer's browser time difference  - [Required for 3DS in DIRECT workflow]
                    document:
                      type: object
                      description: Specifies the customer's document object, including its number and type.
                      required:
                        - document_number
                      properties:
                        document_number:
                          type: string
                          description: Document number for customer (MAX 40; MIN 3).
                        document_type:
                          type: string
                          description: The customer's document type (MAX 6, MIN 2; [Document Type List](https://docs.y.uno/reference/customer-object#document-type-list)).
                          enum:
                            - DNI
                            - CI
                            - LC
                            - LE
                            - CUIT
                            - CUIL
                            - PAS
                            - CPF
                            - RG
                            - CNH
                            - CNPJ
                            - RUT
                            - RUN
                            - CC
                            - CE
                            - NIT
                            - DUI
                            - PIC
                            - DPI
                            - IFR
                            - INE
                            - CP
                            - RFC
                            - CURP
                            - CIP
                            - CIC
                            - CUI
                            - RUC
                            - ''
                    billing_address:
                      type: object
                      description: Specifies the customer's billing address object.
                      required:
                        - address_line_1
                        - city
                        - country
                      properties:
                        address_line_1:
                          type: string
                          description: The primary billing address line of the customer (MAX 255; MIN 3).
                        address_line_2:
                          type: string
                          description: The secondary billing address line of the customer (MAX 255; MIN 3).
                        city:
                          type: string
                          description: The city considered for the billing address (MAX 255; MIN 3).
                        country:
                          type: string
                          description: The country considered for the billing address (MAX 2; MIN 2; [ISO 3166-1](https://docs.y.uno/reference/customer-object#country-code-list-iso-3166-1)).
                          enum:
                            - AR
                            - BO
                            - BR
                            - CL
                            - CO
                            - CR
                            - EC
                            - SV
                            - GT
                            - HN
                            - MX
                            - NI
                            - PA
                            - PY
                            - PE
                            - US
                            - UY
                            - ''
                        state:
                          type: string
                          description: The state considered for the billing address (MAX 255; MIN 3).
                        zip_code:
                          type: string
                          description: The zipcode considered for the billing address (MAX 11; MIN 4).
                    shipping_address:
                      type: object
                      description: Specifies the customer's shipping address object.
                      required:
                        - address_line_1
                        - city
                        - country
                      properties:
                        address_line_1:
                          type: string
                          description: The primary shipping address line of the customer (MAX 255; MIN 3).
                        address_line_2:
                          type: string
                          description: The secondary shipping address line of the customer (MAX 255; MIN 3).
                        city:
                          type: string
                          description: The city considered for the shipping address (MAX 255; MIN 3).
                        country:
                          type: string
                          description: The country considered for the shipping address (MAX 2; MIN 2; [ISO 3166-1](https://docs.y.uno/reference/customer-object#country-code-list-iso-3166-1)).
                          enum:
                            - AR
                            - BO
                            - BR
                            - CL
                            - CO
                            - CR
                            - EC
                            - SV
                            - GT
                            - HN
                            - MX
                            - NI
                            - PA
                            - PY
                            - PE
                            - US
                            - UY
                            - ''
                        state:
                          type: string
                          description: The state considered for the shipping address (MAX 255; MIN 3).
                        zip_code:
                          type: string
                          description: The zipcode considered for the shipping address (MAX 11; MIN 4).
                    phone:
                      type: object
                      description: Specifies the customer's phone number object.
                      properties:
                        country_code:
                          type: string
                          description: The country code of the customer's phone (MAX 3; MIN 2).
                        number:
                          type: string
                          description: The customer's phone number, without the country code (MAX 32; MIN 1).
                checkout:
                  type: object
                  description: Specifies the checkout object. This object is not mandatory for back to back payments. Required when `workflow` is defined as `CHECKOUT` or is not sent. not required for `DIRECT` payments.
                  required:
                    - session
                  properties:
                    session:
                      type: string
                      description: The checkout session that has been created for the payment (MAX 64 ; MIN 36).
                workflow:
                  type: string
                  description: The payment workflow. Indicates whether the integration will use Yuno´s SDK or will be a back to back connection. `CHECKOUT`=Use Yuno SDK. `DIRECT`= Back to back integration with provider info for custom payment experience, `REDIRECT`= Back to back integration with provider redirection.
                  enum:
                    - CHECKOUT
                    - DIRECT
                    - REDIRECT
                callback_url:
                  type: string
                  description: 'Url to return the customer after a payment is made in a provider´s environment. Only necessary for REDIRECT alternative payment methods integrations vía API (MAX: 255; MIN: 3).'
                payment_method:
                  type: object
                  description: Specifies the payment_method object.
                  properties:
                    token:
                      type: string
                      description: 'The one time use payment method token **provided by Yuno sdk**. If a payment is created using a token, it is not necessary to send a vaulted_token as well, it can be defined as null. Not necessary for back to back payments (MAX: 64; MIN: 36).'
                    vaulted_token:
                      type: string
                      description: 'The vaulted token for a **previously stored payment_method**. If a payment is created using a vaulted_token, it is not necessary to send a token as well, it can be defined as null (MAX: 64; MIN: 36).'
                    type:
                      type: string
                      description: Type of the payment method. Mandatory for `DIRECT` or `REDIRECT` workflow.
                      enum:
                        - BANCOLOMBIA_TRANSFER
                        - BANCOLOMBIA_TOKEN_BOX
                        - PSE
                        - DAVIPLATA
                        - NEQUI
                        - NU_PAY
                        - PIX
                        - SAFETYPAY
                        - SPEI
                        - CODI
                        - CARD
                        - ADDI
                        - ACUOTAZ
                        - WIBOND
                        - MERCADO_PAGO_WALLET
                        - MERCADO_PAGO_CHECKOUT_PRO
                        - CASH
                        - EFECTY
                        - OXXO
                        - PAYVALIDA
                        - PAYPAL
                        - TARJETA_CLAVE
                        - WEBPAY
                    detail:
                      type: object
                      description: Specifies the detail object.
                      properties:
                        card:
                          type: object
                          description: Specifies the card object.
                          properties:
                            capture:
                              type: boolean
                              description: Decides whether to authorize the payment or capture it. Authorizing a card payment allows you to reserve funds in a customer's bank account.
                            installments:
                              type: integer
                              description: The card installments (MAX 50; MIN 1).
                              format: int32
                            first_installment_deferral:
                              type: integer
                              description: Number of months to be waited to debit the first installment.
                              format: int32
                            soft_descriptor:
                              type: string
                              description: The descriptor passed per transactions to out platform. It will be presented on the customer's physical bank statement (MAX 15; MIN 0).
                            card_data:
                              type: object
                              description: Specifies the card_data object.
                              required:
                                - number
                                - expiration_month
                                - expiration_year
                                - security_code
                                - holder_name
                              properties:
                                number:
                                  type: string
                                  description: Card’s number without any separators. (MAX 19; MIN 8) - only available for PCI certified merchants.
                                expiration_month:
                                  type: integer
                                  description: Card’s expiration month - MM (MAX 2; MIN 2) - only available for PCI certified merchants.
                                  format: int32
                                expiration_year:
                                  type: integer
                                  description: Card’s expiration year - YYYY (MAX 4; MIN 2) - only available for PCI certified merchants.
                                  format: int32
                                security_code:
                                  type: string
                                  description: Card’s security code (MAX 4; MIN 3) - only available for PCI certified merchants.
                                holder_name:
                                  type: string
                                  description: Cardholder’s full name as it appears on the card (MAX 26; MIN 3) - only available for PCI certified merchants.
                                brand:
                                  type: string
                                  description: Card’s brand information. (MAX 255; MIN 3).
                                issuer:
                                  type: string
                                  description: Card issuer (MAX 255; MIN 3).
                                category:
                                  type: string
                                  description: Card’s issuer category. (MAX 255; MIN 3).
                                type:
                                  type: string
                                  description: 'Card’s issuer type. (MAX 255; MIN 3). Possible values: CREDIT, DEBIT or PREPAID.'
                        issuer_id:
                          type: string
                          description: Optional issuer_id for certain bank transfer transactions
                    vault_on_success:
                      type: boolean
                      description: Flag to enroll the card after a successfull payment
                taxes:
                  type: object
                  description: Specifies the order´s tax object.
                  required:
                    - value
                  properties:
                    type:
                      type: string
                      description: 'Type of the tax. (Ex: VAT, ISV)'
                      enum:
                        - VAT
                        - ISV
                    tax_base:
                      type: number
                      description: The amount base to apply the tax defined.
                      format: float
                    value:
                      type: number
                      description: The amount of the tax.
                      format: float
                    percentage:
                      type: number
                      description: The percentage of the tax.
                      format: float
                metadata:
                  type: array
                  description: Specifies a list of metadata objects. You can add up to 50 metadata objects.
                  items:
                    properties:
                      key:
                        type: string
                        description: The metadata key.
                      value:
                        type: string
                        description: The metadata key value.
                    required:
                      - key
                      - value
                    type: object
            examples:
              ACUOTAZ:
                value:
                  description: Test ACUOTAZ
                  account_id: d3d38fc9-49ec-4277-9115-bbad5d17d236
                  merchant_order_id: '0000022'
                  country: PE
                  additional_data:
                    order:
                      fee_amount: 40
                      items:
                        - brand: XYZ
                          category: Clothes
                          id: 123AD
                          manufacture_part_number: XYZ123456
                          name: Skirt
                          quantity: 1
                          sku_code: '8765432109'
                          unit_amount: 100
                      shipping_amount: 10
                  amount:
                    currency: PEN
                    value: 120
                  checkout:
                    session: 3d6794b3-dff2-40a3-8e53-981e69f35191
                  customer_payer:
                    id: 71caa74c-f759-4a7c-a1c4-a983bcf24812
                  payment_method:
                    token: 7946b293-853a-42c8-97f3-a37e72ce230f
                    vaulted_token: 7946b293-853a-42c8-97f3-a37e72ce230f
              ADDI:
                value:
                  description: Test ADDI
                  account_id: bc9ad7c0-6813-11ed-9022-0242ac120002
                  merchant_order_id: '0000022'
                  country: BR
                  additional_data:
                    order:
                      fee_amount: 40
                      items:
                        - brand: XYZ
                          category: Clothes
                          id: 123AD
                          manufacture_part_number: XYZ123456
                          name: Skirt
                          quantity: 1
                          sku_code: '8765432109'
                          unit_amount: 50
                      shipping_amount: 10
                  amount:
                    currency: BRL
                    value: 50
                  checkout:
                    session: uc9ad7c0-6813-11ed-9022-0242ac120002
                  customer_payer:
                    id: pa7ad7c0-6813-11ed-9022-0242ac120002
                  payment_method:
                    token: ia9ad7c0-6813-11ed-9022-0242ac120003
                    vaulted_token: xu8ad7c0-6813-11ed-9022-0242ac120003
              BANCOLOMBIA_TRANSFER:
                value:
                  description: Test Bancolombia transfer
                  account_id: d3d38fc9-49ec-4277-9115-bbad5d17d236
                  merchant_order_id: '0000022'
                  country: CO
                  additional_data:
                    order:
                      fee_amount: 40
                      items:
                        - brand: XYZ
                          category: Clothes
                          id: 123AD
                          manufacture_part_number: XYZ123456
                          name: Skirt
                          quantity: 1
                          sku_code: '8765432109'
                          unit_amount: 50
                      shipping_amount: 10
                  amount:
                    currency: COP
                    value: 2500
                  checkout:
                    session: 5d3229a0-e6f4-4127-b85b-d72627fb15ec
                  customer_payer:
                    id: 764e2a3c-56df-4b3d-a50a-bc765a9b689d
                  payment_method:
                    token: 57129ed4-0ec0-41d8-ad94-0c64592336ce
                    vaulted_token: null
              CARD DIRECT (Without customer_id):
                value:
                  description: Test
                  account_id: 9104911d-5df9-429e-8488-ad41abea1a4b
                  merchant_order_id: '0000023'
                  country: AR
                  merchant_reference: reference-001
                  amount:
                    currency: ARS
                    value: 500
                  customer_payer:
                    email: john.doe@y.uno
                    first_name: John
                    last_name: Doe
                    merchant_customer_id: example00234
                    document:
                      document_type: DNI
                      document_number: '38799999'
                  workflow: DIRECT
                  payment_method:
                    type: CARD
                    detail:
                      card:
                        capture: true
                        card_data:
                          number: '4111111111111111'
                          holder_name: JOHN DOE
                          expiration_month: 12
                          expiration_year: 26
                          security_code: '123'
              CARD DIRECT (With vaulted_token):
                value:
                  description: Test
                  account_id: 9112311d-5df9-429e-8488-ad41abea1a4b
                  merchant_order_id: '0000023'
                  country: AR
                  merchant_reference: reference-001
                  amount:
                    currency: ARS
                    value: 500
                  customer_payer:
                    id: 9112311d-5df9-429e-8488-aasdweabea1a4b
                  workflow: DIRECT
                  payment_method:
                    type: CARD
                    vaulted_token: 321c38f6-42c2-45b7-bf0c-f2f7123bas1948
              SAFETYPAY:
                value:
                  description: Test safetypay
                  account_id: c2d38fc9-49ec-4277-9115-bbad5d17d236
                  merchant_order_id: '0000022'
                  merchant_reference: Prueba 002
                  country: CO
                  additional_data:
                    order:
                      fee_amount: 0
                      items:
                        - brand: XYZ
                          category: Clothes
                          id: 123AD
                          manufacture_part_number: XYZ123456
                          name: Skirt
                          quantity: 1
                          sku_code: '8765432109'
                          unit_amount: 50
                      shipping_amount: 0
                    seller_details:
                      name: Teste
                      email: test@test.com
                      reference: qualquer coisa
                      country: CO
                      web_site: www.google.com.ar
                      document:
                        document_type: CC
                        document_number: '1032765432'
                      phone:
                        country_code: '+54'
                        number: '2804324493'
                      address:
                        address_line_1: 'Calle 34 # 56 - 78'
                        address_line_2: Apartamento 502, Torre I
                        city: Bogota
                        country: CO
                        state: Cundinamarca
                        zip_code: '111111'
                  amount:
                    currency: COP
                    value: 52
                  taxes:
                    type: VAT
                    tax_base: 10
                    value: 1000
                    percentage: 21
                  checkout:
                    session: ''
                  customer_payer:
                    id: bfab8daf-2c25-4883-a06d-1fdbafc9ae35
                    billing_address:
                      address_line_1: 'Calle 34 # 56 - 78'
                      address_line_2: Apartamento 502, Torre I
                      city: Bogota
                      country: CO
                      state: Cundinamarca
                      zip_code: '111111'
                    browser_info:
                      accept_header: string
                      color_depth: string
                      javascript_enabled: false
                      language: string
                      screen_height: '11'
                      screen_width: '12'
                      user_agent: string
                    date_of_birth: '1990-02-28'
                    device_fingerprint: hi88287gbd8d7d782ge....
                    document:
                      document_type: CC
                      document_number: '1032765432'
                    email: pepitoperez@y.uno
                    first_name: Pepito
                    gender: MALE
                    ip_address: 192.168.123.167
                    last_name: Perez
                    merchant_customer_id: example00234
                    nationality: CO
                    phone:
                      country_code: '57'
                      number: '3132450765'
                    shipping_address:
                      address_line_1: 'Calle 34 # 56 - 78'
                      address_line_2: Apartamento 502, Torre I
                      city: Bogota
                      country: CO
                      state: Cundinamarca
                      zip_code: '111111'
                  payment_method:
                    token: ''
              BANCOLOMBIA TOKEN BOX:
                value:
                  description: Test Nequi
                  account_id: bfab8daf-2c25-4883-a06d-1fdbafc9ae35
                  merchant_order_id: '0000022'
                  country: CO
                  amount:
                    currency: COP
                    value: 15
                  checkout:
                    session: ''
                  customer_payer:
                    id: bfab8daf-2c25-4883-a06d-1fdbafc9ae35
                    document:
                      document_type: CC
                      document_number: '1032765432'
                  payment_method:
                    token: null
                    vaulted_token: 724098e5-dabb-4d65-b841-cafb0ca155ca
              MERCADO_PAGO_CHECKOUT_PRO:
                value:
                  description: Test MP
                  account_id: c2d38fc9-49ec-4277-9115-bbad5d17d236
                  merchant_order_id: '0000022'
                  country: AR
                  additional_data:
                    order:
                      items:
                        - id: 123AD
                          name: Skirt
                          quantity: 1
                          unit_amount: 50
                  amount:
                    currency: ARS
                    value: 50
                  checkout:
                    session: 26bb376a-f66b-429f-b5b3-d0297bbe9ada
                  customer_payer:
                    id: 77418b3a-a59d-4117-9d72-a833fc417efa
                  payment_method:
                    token: 9104911429488SDFDSFad41abea1a4b
                    vaulted_token: null
              NUPAY:
                value:
                  description: Test Nupay
                  account_id: d2d38fc9-49ec-4277-9115-bbad5d17d236
                  merchant_order_id: '0000022'
                  country: BR
                  additional_data:
                    order:
                      fee_amount: 40
                      items:
                        - brand: XYZ
                          category: Clothes
                          id: 123AD
                          manufacture_part_number: XYZ123456
                          name: Skirt
                          quantity: 1
                          sku_code: '8765432109'
                          unit_amount: 50
                      shipping_amount: 10
                  amount:
                    currency: BRL
                    value: 50
                  checkout:
                    session: 611cc46b-e4d1-48f3-91f1-017f4d42aa49
                  customer_payer:
                    id: 80028bba-08ef-4fef-9c17-93e4c8196170
                  payment_method:
                    token: c41e81ff-c173-4929-b519-b7bfebb351bb
                    vaulted_token: null
              NEQUI:
                value:
                  description: Test Nequi
                  account_id: 2d2a044e-67a0-11ed-9022-0242ac120002
                  merchant_order_id: '0000022'
                  country: CO
                  amount:
                    currency: COP
                    value: 3000
                  checkout:
                    session: 34dbea68-67a0-11ed-9022-0242ac120002
                  customer_payer:
                    id: ''
                    document:
                      document_type: CC
                      document_number: '1093333333'
                  payment_method:
                    token: null
                    vaulted_token: 749ad909-3575-4db0-aa98-4dfa30651f9b
              SPEI-Checkout:
                value:
                  description: Test SPEI
                  account_id: dec008f0-6810-11ed-9022-0242ac120002
                  merchant_order_id: '0000022'
                  country: MX
                  amount:
                    currency: MXN
                    value: 500
                  checkout:
                    session: eb650394-6810-11ed-9022-0242ac120002
                  customer_payer:
                    id: f4a92412-6810-11ed-9022-0242ac120002
                    phone:
                      country_code: '57'
                      number: '3132450765'
                  payment_method:
                    token: d4a92412-6810-11ed-9022-0242ac120002
                    vaulted_token: u4a92412-6810-11ed-9022-0242ac120002
              SPEI-Direct:
                value:
                  description: Test SPEI
                  account_id: dbf0c133-86bc-4be0-94a5-ca2ff6778451
                  merchant_order_id: '0000022'
                  country: MX
                  amount:
                    currency: MXN
                    value: 500
                  customer_payer:
                    id: 04cb7fec-5d70-4791-8929-212b39d256cd
                  workflow: DIRECT
                  payment_method:
                    type: SPEI
              CARD DIRECT (min. data / SUCCESS):
                value:
                  account_id: c004cfd7-0c65-4add-b9b3-3d7e3949c9f1
                  description: SUCCESSFUL
                  country: CO
                  merchant_order_id: Order_id
                  amount:
                    currency: COP
                    value: '20000'
                  customer_payer:
                    first_name: JOHN
                    last_name: DOE
                    email: test@test.com
                  workflow: DIRECT
                  payment_method:
                    type: CARD
                    detail:
                      card:
                        card_data:
                          number: '4111111111111111'
                          expiration_month: 11
                          expiration_year: 28
                          security_code: '123'
                          holder_name: JOHN DOE
              CARD DIRECT (min. data/DECLINED):
                value:
                  account_id: c004cfd7-0c65-4add-b9b3-3d7e3949c9f1
                  description: DECLINED
                  country: CO
                  merchant_order_id: Order_id
                  amount:
                    currency: COP
                    value: '20000'
                  customer_payer:
                    first_name: JOHN
                    last_name: DOE
                    email: test@test.com
                  workflow: DIRECT
                  payment_method:
                    type: CARD
                    detail:
                      card:
                        card_data:
                          number: '4111111111111111'
                          expiration_month: 11
                          expiration_year: 28
                          security_code: '123'
                          holder_name: JOHN DOE
              CARD DIRECT (with installments):
                value:
                  account_id: c004cfd7-0c65-4add-b9b3-3d7e3949c9f1
                  description: SUCCESSFUL
                  country: CO
                  merchant_order_id: Order_id
                  amount:
                    currency: COP
                    value: '20000'
                  customer_payer:
                    first_name: JOHN
                    last_name: DOE
                    email: test@test.com
                  workflow: DIRECT
                  payment_method:
                    type: CARD
                    detail:
                      card:
                        installments: 12
                        card_data:
                          number: '4111111111111111'
                          expiration_month: 11
                          expiration_year: 28
                          security_code: '123'
                          holder_name: JOHN DOE
              CARD DIRECT (Authorization):
                value:
                  account_id: c004cfd7-0c65-4add-b9b3-3d7e3949c9f1
                  description: SUCCESSFUL
                  country: CO
                  merchant_order_id: Order_id
                  amount:
                    currency: COP
                    value: '20000'
                  customer_payer:
                    first_name: JOHN
                    last_name: DOE
                    email: test@test.com
                  workflow: DIRECT
                  payment_method:
                    type: CARD
                    detail:
                      card:
                        capture: false
                        card_data:
                          number: '4111111111111111'
                          expiration_month: 11
                          expiration_year: 28
                          security_code: '123'
                          holder_name: JOHN DOE
              Card Direct (auth with airline data):
                value:
                  account_id: c004cfd7-0c65-4add-b9b3-3d7e3949c9f1
                  description: SUCCESSFUL
                  additional_data:
                    airline:
                      pnr: ABC123
                      legs:
                        - departure_airport: BOG
                          departure_datetime: '2023-10-31T01:30:00.000-05:00'
                          departure_airport_timezone: GMT-05
                          arrival_airport: BOM
                          carrier_code: PR
                          flight_number: AV348
                          fare_basis_code: 'Y'
                          fare_class_code: S
                          base_fare: 18000
                          base_fare_currency: COP
                          stopover_code: O
                      passengers:
                        - first_name: JOHN
                          last_name: DOE
                          middle_name: STEPHEN
                          type: A
                          date_of_birth: '1998-01-01'
                          nationality: CO
                          document:
                            document_number: '1092456327'
                            document_type: CC
                            country: CO
                          loyalty_number: '79250001'
                          loyalty_tier: DIAMOND
                      tickets:
                        - ticket_number: BRB0001
                          e_ticket: true
                          restricted: false
                          total_fare_amount: 20000
                          total_tax_amount: 18000
                          total_fee_amount: 1000
                          issue:
                            carrier_prefix_code: '134'
                            travel_agent_code: A104121
                            travel_agent_name: AEROVIAJES
                            date: '2023-10-31T01:30:00.000-05:00'
                            address: Calle 123 2564
                            city: BOGOTA
                            country: CO
                            zip_code: '111111'
                        - ticket_number: BRB0002
                          e_ticket: true
                          restricted: false
                          total_fare_amount: 20000
                          total_tax_amount: 18000
                          total_fee_amount: 1000
                          issue:
                            carrier_prefix_code: '134'
                            travel_agent_code: A104121
                            travel_agent_name: AEROVIAJES
                            date: '2023-10-31T01:30:00.000-05:00'
                            address: Calle 123 2564
                            city: BOGOTA
                            country: CO
                            zip_code: '111111'
                  country: MX
                  merchant_order_id: Order_id
                  merchant_reference: Example_Merchant_Reference
                  amount:
                    currency: MXN
                    value: '2000'
                  customer_payer:
                    first_name: JOHN
                    last_name: DOE
                    gender: M
                    date_of_birth: '1998-01-01'
                    email: test@test.com
                    nationality: CO
                    ip_address: 192.0.0.1
                    document:
                      document_number: '1092345673'
                      document_type: CC
                    billing_address:
                      address_line_1: Calle 123
                      address_line_2: 25-42
                      city: BOGOTA
                      country: CO
                      state: CUNDINAMARCA
                      zip_code: '110110'
                  workflow: DIRECT
                  payment_method:
                    type: CARD
                    detail:
                      card:
                        capture: false
                        card_data:
                          number: '4111111111111111'
                          expiration_month: 11
                          expiration_year: 28
                          security_code: '123'
                          holder_name: JOHN DOE
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                FULL_BODY_PAYMENT:
                  value: "{\n  \"id\": \"5104911d-5df9-229e-8468-bd41abea1a4s\",\n  \"account_id\": \"9104911d-5df9-429e-8488-ad41abea1a4b\",\n  \"description\": \"marketplace payment\",\n  \"country\": \"CO\",\n  \"status\": \"rejected\",\n  \"sub_status\":\"PARTIALLY_PAID\",\n  \"merchant_order_id\": \"2022-05-09T20:20:54.786342Z\",\n  \"created_at\": \"2022-05-09T20:46:54.786342Z\",\n  \"updated_at\": \"2022-05-09T20:46:54.786342Z\",\n  \"amount\": {\n    \"currency\": \"COP\",\n    \"value\": 23.5676\n  },\n  \"checkout\": {\n        \"session\": \"757eefc7-e28c-4333-9a07-3b16e610745d\",\n        \"sdk_action_required\": true\n   },\n  \"customer_payer\": {\n    \"id\": \"4ce6f7e1-bf2e-4e7f-bc1b-84b26082a1d3\",\n    \"customer_id\": \"12345\",\n    \"first_name\": \"John\",\n    \"last_name\": \"Doe\",\n    \"gender\": \"M\",    \n    \"date_of_birth\": \"1990-02-28\",\n    \"email\": \"john.doe@email.com\",\n    \"nationality\": \"CO\",\n    \"ip_address\": \"192.168.123.167\",\n    \"device_fingerprint\": \"hi88287gbd8d7d782ge....\",\n    \"browser_info\": {\n \t\t  \"accept_header\": \"false\",\n      \"color_depth\": \"15\",\n      \"javascript_enabled\": true,\n      \"language\": \"es-ES\",\n      \"screen_height\": \"2048\",\n      \"screen_width\": \"1152\",\n      \"user_agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2) AppleWebKit/601.3.9 (KHTML, like Gecko) Version/9.0.2 Safari/601.3.9\"\n    },\n\t\t\"document\": {\n      \"document_number\": \"1093333333\",\n      \"document_type\": \"CC\"\n    },\n    \"phone\": {\n      \"country_code\": \"57\",\n      \"number\": \"3132450765\"\n    },\n    \"billing_address\": {\n      \"address_line_1\": \"Calle 34 # 56 - 78\",\n      \"address_line_2\": \"Apartamento 502, Torre I\",\n      \"city\": \"Bogota\",\n      \"country\": \"CO\",\n      \"state\": \"Cundinamarca\",\n      \"zip_code\": \"111111\"\n    },\n    \"shipping_address\": {\n      \"address_line_1\": \"Calle 34 # 56 - 78\",\n      \"address_line_2\": \"Apartamento 502, Torre I\",\n      \"city\": \"Bogota\",\n      \"country\": \"CO\",\n      \"state\": \"Cundinamarca\",\n      \"zip_code\": \"111111\"\n    }\n  },\n \"additional_data\": {\n    \"airline\": {\n      \"legs\": [\n        {\n          \"arrival_airport\": \"AMS\",\n          \"base_fare\": 23.5676,\n          \"base_fare_currency\": \"COP\",\n          \"carrier_code\": \"KL\",\n          \"departure_airport\": \"EZE\",\n          \"departure_airport_timezone\": \"-03:00\",\n          \"departure_datetime\": \"2022-05-09T20:46:54.786342Z\",\n          \"fare_basis_code\": \"HL7LNR\",\n          \"fare_class_code\": \"FR\",\n          \"flight_number\": \"842\",\n           \"stopover_code\": \"O\"\n        }\n      ],\n      \"passengers\": [\n        {\n          \"country\": \"CO\",\n          \"date_of_birth\": \"1979-01-12\",\n          \"document\": {\n            \"document_number\": \"1093333333\",\n            \"document_type\": \"CC\"\n          },\n          \"first_name\": \"John\",\n          \"last_name\": \"Doe\",\n          \"loyalty_number\": \"254587547\",\n          \"loyalty_tier\": \"1\",\n          \"middle_name\": \"Charles\",\n          \"nationality\": \"CO\",\n          \"type\": \"A\"\n        }\n      ],\n      \"pnr\": \"1P-2UUGJW\",\n      \"ticket\": {\n        \"e_ticket\": true,\n        \"issue\": {\n          \"address\": \"Apartamento 502, Torre I\",\n          \"carrier_prefix_code\": \"044\",\n          \"city\": \"Bogotá\",\n          \"country\": \"CO\",\n          \"date\": \"1979-01-12\",\n          \"travel_agent_code\": \"10655823\",\n          \"travel_agent_name\": \"ACME Agency Inc\"\n        },\n        \"restricted\": false,\n        \"ticket_number\": \"7411823255523\",\n        \"total_fare_amount\": 80000.00,\n        \"total_fee_amount\": 25200.00,\n        \"total_tax_amount\": 14800.00\n      }\n    },\n    \"order\": {\n      \"fee_amount\": 0,\n      \"items\": [\n        {\n          \"brand\": \"Apple\",\n          \"category\": \"phones\",\n          \"id\": \"3214\",\n          \"manufacture_part_number\": \"345621234\",\n          \"name\": \"Iphone 12 Pro Max\",\n          \"quantity\": 1,\n          \"sku_code\": \"A2342\",\n          \"unit_amount\": 550\n        }\n      ],\n      \"shipping_amount\": 0\n    }\n  },\n   \"transactions\": {\n    \"id\": \"9104911d-5df9-429e-8488-ad41abea1a4b\",\n    \"type\": \"PURCHASE\",\n    \"status\": \"SUCCESS\",\n    \"response_code\":\"REJECTED_CARD_RESTRICTED_BY_BANK\",\n    \"response_message\":\"Rejected by the bank. Refer to card issuer's special conditions\",\n    \"merchant_reference\":\"AAB01-432245\",\n    \"category\": \"CARD\",\n    \"amount\": 40.5,  \n    \"reason\":\"REQUESTED_BY_CUSTOMER\",\n    \"description\":\"Product Received in Poor Condition\",\n    \"created_at\": \"2022-05-09T20:43:54.786342Z\",\n    \"updated_at\": \"2022-05-09T20:46:54.786342Z\",\n    \"provider_data\":{\n  \t  \"id\":\"2104911d-5df9-429e-8488-ad41abea1a4b\",\n    \t\"transaction_id\":\"12345678\",\n      \"account_id\":\"9990128\",\n      \"status\": \"accredited\",\n  \t\t\"status_detail\":\"approved\",\n      \"raw_response\":\"JSON\"\n \t\t },\n  \"payment_method\": {\n    \"token\": \"5104911d-5df9-229e-8468-bd41abea1a4s\",\n    \"vaulted_token\": \"8604911d-5ds9-229e-8468-bd41abear14s\",\n    \"workflow\":\"CHECKOUT\",\n    \"payment_method_detail\":{\n    \"card\":{\n              \"capture\":true,\n              \"installments\":3,\n              \"first_installment_deferral\":1,\n              \"soft_descriptor\":\"COMPANY1\",\n              \"card_data\":{\n                \"number\":4507990000000010,\n\t\t\t\t\t\t\t\t\"expiration_month\":10,\n                \"expiration_year\":2025,\n                \"security_code\":123,\n                \"holder_name\":\"JOHN DOE\",\n                \"iin\":\"45079900\",\n                \"lfd\":\"0010\",\n                \"number_length\":19,\n                \"security_code_length\":3,\n                \"brand\":\"VISA\",\n                \"issuer\":\"Banco Galicia\",\n                \"category\":\"Gold\",\n                \"type\":\"CREDIT\"\n              }\n            },\n                \"apm_data\":{\n                \"callback_url\":\"www.google.com\"\n                }\n   \t\t\t }\n  }\n}\n}"
                ACUOTAZ:
                  value: |-
                    {
                        "id": "1c3c6bee-0230-4989-af06-a2c97c433ac6",
                        "account_id": "d3d38fc9-49ec-4277-9115-bbad5d17d236",
                        "description": "Test ACUOTAZ",
                        "country": "PE",
                        "status": "READY_TO_PAY",
                        "sub_status": "CREATED",
                        "merchant_order_id": "0000022",
                        "created_at": "2022-11-19T14:25:19.932037Z",
                        "updated_at": "2022-11-19T14:25:20.940450Z",
                        "amount": {
                            "currency": "PEN",
                            "value": 120
                        },
                        "checkout": {
                            "session": "3d6794b3-dff2-40a3-8e53-981e69f35191",
                            "sdk_action_required": true
                        },
                        "payment_method": {
                            "vaulted_token": "",
                            "type": "ACUOTAZ",
                            "vault_on_success": false,
                            "token": "7946b293-853a-42c8-97f3-a37e72ce230f",
                            "payment_method_detail": {
                                "bnpl": {
                                    "installments": null,
                                    "provider_image": null,
                                    "redirect_url": "https://google.com/?checkoutSession=3d6794b3-dff2-40a3-8e53-981e69f35191",
                                    "customer_data": null
                                }
                            }
                        },
                        "customer_payer": {
                            "id": "71caa74c-f759-4a7c-a1c4-a983bcf24812",
                            "merchant_customer_id": "1668863583",
                            "first_name": "Tyler",
                            "last_name": "Rosenbaum",
                            "gender": "",
                            "date_of_birth": null,
                            "email": "Jadon56@hotmail.com",
                            "nationality": null,
                            "ip_address": null,
                            "device_fingerprint": null,
                            "browser_info": null,
                            "document": {
                                "document_type": "DNI",
                                "document_number": "532924789"
                            },
                            "phone": {
                                "number": "11992149494",
                                "country_code": "55"
                            },
                            "billing_address": null,
                            "shipping_address": null
                        },
                        "additional_data": {
                            "airline": null,
                            "order": {
                                "fee_amount": 40,
                                "shipping_amount": 10,
                                "items": [
                                    {
                                        "id": "123AD",
                                        "name": "Skirt",
                                        "quantity": 1,
                                        "unit_amount": 100,
                                        "category": "Clothes",
                                        "brand": "XYZ",
                                        "sku_code": "8765432109",
                                        "manufacture_part_number": "XYZ123456"
                                    }
                                ]
                            },
                            "seller_details": null
                        },
                        "taxes": null,
                        "transactions": {
                            "id": "2fc3d3aa-e5d4-4e52-afdd-edbca07c4733",
                            "type": "PURCHASE",
                            "status": "CREATED",
                            "category": "BUY_NOW_PAY_LATER",
                            "amount": 120,
                            "provider_id": "ACUOTAZ",
                            "payment_method": {
                                "vaulted_token": "",
                                "type": "ACUOTAZ",
                                "vault_on_success": false,
                                "token": "7946b293-853a-42c8-97f3-a37e72ce230f",
                                "detail": {
                                    "bnpl": {
                                        "installments": null,
                                        "provider_image": null,
                                        "redirect_url": "https://google.com/?checkoutSession=3d6794b3-dff2-40a3-8e53-981e69f35191",
                                        "customer_data": null
                                    }
                                }
                            },
                            "response_code": "SUCCEEDED",
                            "response_message": "",
                            "reason": null,
                            "description": null,
                            "merchant_reference": null,
                            "provider_data": {
                                "id": "ACUOTAZ",
                                "transaction_id": "2fc3d3aa-e5d4-4e52-afdd-edbca07c4733",
                                "account_id": "",
                                "status": "CREATED",
                                "sub_status": "",
                                "status_detail": "",
                                "raw_response": {
                                    "redirect_to": "https://aprt.me/upYm",
                                    "status": "new_order"
                                }
                            },
                            "created_at": "2022-11-19T14:25:19.939870Z",
                            "updated_at": "2022-11-19T14:25:20.940427Z"
                        },
                        "workflow": "CHECKOUT"
                    }
                ADDI:
                  value: |-
                    {
                        "id": "9d2b6f3a-2310-480c-b5d2-5555be40133e",
                        "account_id": "c2d38fc9-49ec-4277-9115-bbad5d17d236",
                        "description": "Test ADDI",
                        "country": "BR",
                        "status": "READY_TO_PAY",
                        "sub_status": "CREATED",
                        "merchant_order_id": "0000022",
                        "created_at": "2022-11-19T14:06:39.747936Z",
                        "updated_at": "2022-11-19T14:06:41.085930Z",
                        "amount": {
                            "currency": "BRL",
                            "value": 50
                        },
                        "checkout": {
                            "session": "e2712ef7-3666-472e-8e60-450c47f1e752",
                            "sdk_action_required": true
                        },
                        "payment_method": {
                            "vaulted_token": "",
                            "type": "ADDI",
                            "vault_on_success": false,
                            "token": "117ac39c-e85c-4115-947e-f99215d0dfe3",
                            "payment_method_detail": {
                                "bnpl": {
                                    "installments": null,
                                    "provider_image": null,
                                    "redirect_url": "https://google.com/?checkoutSession=e2712ef7-3666-472e-8e60-450c47f1e752",
                                    "customer_data": null
                                }
                            }
                        },
                        "customer_payer": {
                            "id": "3bcdfb54-f481-4076-96eb-950f22a5f60d",
                            "merchant_customer_id": "1668866345",
                            "first_name": "Amaya",
                            "last_name": "Reinger",
                            "gender": "",
                            "date_of_birth": null,
                            "email": "Nathen89@hotmail.com",
                            "nationality": null,
                            "ip_address": null,
                            "device_fingerprint": null,
                            "browser_info": null,
                            "document": {
                                "document_type": "CPF",
                                "document_number": "47033278802"
                            },
                            "phone": {
                                "number": "11992149494",
                                "country_code": "55"
                            },
                            "billing_address": null,
                            "shipping_address": null
                        },
                        "additional_data": {
                            "airline": null,
                            "order": {
                                "fee_amount": 40,
                                "shipping_amount": 10,
                                "items": [
                                    {
                                        "id": "123AD",
                                        "name": "Skirt",
                                        "quantity": 1,
                                        "unit_amount": 50,
                                        "category": "Clothes",
                                        "brand": "XYZ",
                                        "sku_code": "8765432109",
                                        "manufacture_part_number": "XYZ123456"
                                    }
                                ]
                            },
                            "seller_details": null
                        },
                        "taxes": null,
                        "transactions": {
                            "id": "e3eab69d-2d18-4807-afff-4185add3cac8",
                            "type": "PURCHASE",
                            "status": "CREATED",
                            "category": "BUY_NOW_PAY_LATER",
                            "amount": 50,
                            "provider_id": "ADDI",
                            "payment_method": {
                                "vaulted_token": "",
                                "type": "ADDI",
                                "vault_on_success": false,
                                "token": "117ac39c-e85c-4115-947e-f99215d0dfe3",
                                "detail": {
                                    "bnpl": {
                                        "installments": null,
                                        "provider_image": null,
                                        "redirect_url": "https://google.com/?checkoutSession=e2712ef7-3666-472e-8e60-450c47f1e752",
                                        "customer_data": null
                                    }
                                }
                            },
                            "response_code": "SUCCEEDED",
                            "response_message": "",
                            "reason": null,
                            "description": null,
                            "merchant_reference": null,
                            "provider_data": {
                                "id": "ADDI",
                                "transaction_id": "0000022",
                                "account_id": "",
                                "status": "CREATED",
                                "sub_status": "",
                                "status_detail": "",
                                "raw_response": null
                            },
                            "created_at": "2022-11-19T14:06:39.761130Z",
                            "updated_at": "2022-11-19T14:06:41.085913Z"
                        },
                        "workflow": "CHECKOUT"
                    }
                BANCOLOMBIA_TRANSFER:
                  value: |-
                    {
                      "id": "8a64793b-b436-43ec-975a-69e1b32791d1",
                      "account_id": "d3d38fc9-49ec-4277-9115-bbad5d17d236",
                      "description": "Test Bancolombia transfer",
                      "country": "CO",
                      "status": "DECLINED",
                      "sub_status": "DECLINED",
                      "merchant_order_id": "0000022",
                      "created_at": "2022-11-21T18:01:29.636861Z",
                      "updated_at": "2022-11-21T18:01:33.810482Z",
                      "amount": {
                        "currency": "COP",
                        "value": 1500
                      },
                      "checkout": {
                        "session": "c835c97a-d24c-4ce9-a7a1-2b1e1ff1aa18",
                        "sdk_action_required": true
                      },
                      "payment_method": {
                        "vaulted_token": "",
                        "type": "BANCOLOMBIA_TRANSFER",
                        "vault_on_success": false,
                        "token": "ab0c68bf-e5cf-45ef-9a5d-8bf2dd36f5b9",
                        "payment_method_detail": {
                          "bank_transfer": {
                            "provider_image": null,
                            "account_type": null,
                            "bank_name": null,
                            "beneficiary_name": null,
                            "bank_account": null,
                            "bank_account_2": null,
                            "beneficiary_document_type": null,
                            "beneficiary_document": null,
                            "payment_instruction": null,
                            "redirect_url": null
                          }
                        }
                      },
                      "customer_payer": {
                        "id": "f7ccd216-e81c-4e89-9f9a-d11ed277229f",
                        "merchant_customer_id": "123459898",
                        "first_name": "John",
                        "last_name": "Doe",
                        "gender": "",
                        "date_of_birth": "1990-02-28",
                        "email": "john.doe@email.com",
                        "nationality": "CO",
                        "ip_address": null,
                        "device_fingerprint": null,
                        "browser_info": null,
                        "document": {
                          "document_type": "CC",
                          "document_number": "0110110101100001"
                        },
                        "phone": {
                          "number": "3132450765",
                          "country_code": "57"
                        },
                        "billing_address": {
                          "address_line_1": "Calle 34 # 56 - 78",
                          "address_line_2": "Apartamento 502, Torre I",
                          "country": "CO",
                          "state": "Cundinamarca",
                          "city": "Bogotá",
                          "zip_code": "111111"
                        },
                        "shipping_address": {
                          "address_line_1": "Calle 34 # 56 - 78",
                          "address_line_2": "Apartamento 502, Torre I",
                          "country": "CO",
                          "state": "Cundinamarca",
                          "city": "Bogotá",
                          "zip_code": "111111"
                        }
                      },
                      "additional_data": {
                        "airline": null,
                        "order": {
                          "fee_amount": 40,
                          "shipping_amount": 10,
                          "items": [
                            {
                              "id": "123AD",
                              "name": "Skirt",
                              "quantity": 1,
                              "unit_amount": 50,
                              "category": "Clothes",
                              "brand": "XYZ",
                              "sku_code": "8765432109",
                              "manufacture_part_number": "XYZ123456"
                            }
                          ]
                        },
                        "seller_details": null
                      },
                      "taxes": null,
                      "transactions": {
                        "id": "4098df2c-5f89-40ca-99d3-d3235463d879",
                        "type": "PURCHASE",
                        "status": "DECLINED",
                        "category": "BANK_TRANSFER",
                        "amount": 1500,
                        "provider_id": "WOMPI",
                        "payment_method": {
                          "vaulted_token": "",
                          "type": "BANCOLOMBIA_TRANSFER",
                          "vault_on_success": false,
                          "token": "ab0c68bf-e5cf-45ef-9a5d-8bf2dd36f5b9",
                          "detail": {
                            "bank_transfer": {
                              "provider_image": null,
                              "account_type": null,
                              "bank_name": null,
                              "beneficiary_name": null,
                              "bank_account": null,
                              "bank_account_2": null,
                              "beneficiary_document_type": null,
[...]
